<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<button [disabled]="!start" (click) = "onClick()">On click me!</button>
<p>{{ line }}</p>

<hr>

<!-- <input type="text" #myInput (input)="onKeyUp(myInput.value)"> -->
<input type="text" (keyup.enter) = "onKeyUp($event)">
<input type="text" [(ngModel)] = "textInput">
<p>{{ textInput }}</p>
<button (click) = "add()">Add</button>
<button (click) = "delete()">Delete</button>

<hr>

<div *ngIf="status; then first else second"></div>
<ng-template #first><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ad.</p></ng-template>
<ng-template #second><p>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты.</p></ng-template>
<button (click)="toggle()">Toggle</button>

<hr>

<ul>
  <li *ngFor="let name of myArray; let i = index">
    <div [ngStyle]="{'background-color': (i + 1) % 2 === 0 ? '#eee' : 'red' }" [ngClass]="{'bigtext' : bigText(name)}">{{ i + 1 }} : {{ name }}</div>
  </li>
</ul>

<hr>

<ul>
  <li *ngFor="let date of dates; let index = index">{{ date | uppercase}}</li>
</ul>

<hr>

<app-cars></app-cars>

